header {
    background-image: url(/images/bg_header.jpg);
    height: 1400px;
    width: 100%;
    text-align: center;
}

/* About */
#about {
    background-image: url(/images/bg_nuage.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.banner {
    background-color: #2a9e9e84;
}

#about .banner {
    line-height: px;
}

.carre {
    height: 200px;
    width: 200px;
}

.carre-droit {
    height: 200px;
    width: 200px;
    margin-left: 100px;
}

#history {
    background-image: url(/images/bg_appareil_photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    margin-bottom: 40px;
    width: 100%;
}

.grid-item {
    width: 200px;
}

.grid-item--width2 {
    width: 400px;
}

* {
    box-sizing: border-box;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 160px;
    height: 120px;
    float: left;
    background: #00997B;
    border: 1px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    margin-bottom: 20px;
}

.grid-item--width2 {
    width: 340px;
}

.grid-item--width3 {
    width: 520px;
}

.grid-item--width4 {
    width: 780px;
}

.grid-item--height2 {
    height: 200px;
}

.grid-item--height3 {
    height: 260px;
}

.grid-item--height4 {
    height: 360px;
}

.photo--width2 {
    width: 780px
}